{% extends "public/templates/navbar_templates.html" %}

{% block css %}<link rel="stylesheet" href="../../static/css/home.css"> {% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <h1>Welcome</h1>
    <h3 class="mt-2 mb-4">[App Name] is a personal health application that helps managing health easier.</h3>
    <hr>


    <div class="d-flex flex-column mt-4 px-xxl-5 align-items-center mb-4">

        <p style="margin-top:150px; font-size: 3.1rem;">Start tracking your health!</p>
        <p style="font-size: 1.2rem; text-align:center; margin-bottom:50px;">Build your own health profile to monitor your health status. <br>Having a more
            complete health profile can help certified health specialists <br>on our site to make better assessment on
            your health and well-being.</p>

        <button type="button" class="add_btn btn btn-lg btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@mdo"><b>Start Here</b></button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add/Update Health Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/write" method="POST">
                            <select class="form-select" aria-label="Default select example">
                                <option selected></option>
                                <option value="1">Blood Pressure(s)</option>
                                <option value="2">Blood Pressure(s)</option>
                                <option value="3">Pulse Measurement(s)</option>
                            </select>

                            <div class="mt-3 mb-3" id="form0" style="display: none;">
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-2">
                                        <p>Height</p>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="Feet" name="feet" id="feet"
                                            required="true">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="Inches" name="inches"
                                            id="inches" required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-2">
                                        <p>Weight</p>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control" placeholder="Pounds" name="weight"
                                            id="weight" required="true">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <p>Age</p>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control" placeholder="Age" name="age" id="age"
                                            required="true">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 mt-3" id="form1" style="display: none;">
                                <hr>
                                <div class="row">
                                    <div class="col-5">
                                        <input type="date" id="date" name="date" value="" min="2020-01-01" max=""
                                            required="true">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="reading" id="reading"
                                            placeholder="Reading.." required="true">
                                    </div>
                                </div>

                                <hr>

                                <div class="row" id="dynamicInput"></div>

                                <div class="mt-2 btn btn-warning" id="add">Add</div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="form_submit_btn"
                                    style="display: none;">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}